@import "./styles/base.scss";

body {
  font-family: "Open Sans", sans-serif;
  padding: 5vmin;
  background-color: #f4f4f4;
}

a {
  color: blue;
}

h1 {
  margin: 0;
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.ball {
  height: 10vmin;
  width: 10vmin;
  left: 30vw;
  border-radius: 50%;
  // background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
  // animation: slide-right 7s linear infinite;

  background: green;
  transition-property: background, transform; //opacity ko nhhi karenge hum
  transition-timing-function: linear, ease-in-out;
  transition-duration: 1s, 3s; //Normal state ane pe itna time lagega

  &:hover {
    transition-delay: 2s;
    transition-duration: 0.5s, 0.25s; // Hover karne pe itna time lagega
    background: blue;
    transform: scale(2);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50vw);
  }
}
