@import "./styles/base.scss";

body {
  font-family: "Open Sans", sans-serif;
  padding: 5vmin;
  background-color: #f4f4f4;
}

a {
  color: blue;
}

h1 {
  margin: 0;
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.ball {
  height: 10vmin;
  width: 10vmin;

  border-radius: 50%;
  background: radial-gradient(circle at bottom right, #fb2324, #fe932a);

  animation: move-like-a-square 2s;
  animation-fill-mode: both;
}

@keyframes move-like-a-square {
  0% {
    transform: none;
  }

  25% {
    transform: translateX(30vw);
  }

  50% {
    transform: translateX(30vw) translateY(20vw);
  }

  75% {
    transform: translateX(0) translateY(20vw);
  }

  100% {
    transform: translateX(0) translateY(-0);
  }
}
